<dl class="tabs two-up">
  <dd ><a class="active" href="#simple2">Latest</a></dd>
  <dd class=""><a href="#simple1">Popular</a></dd>
</dl>
<ul class="tabs-content"</ul>
  <li class="active" id="simpleContained2Tab">    
    <table class="twelve">
      <thead>
        <tr>
          <td class="text-center"><strong>Date</strong></td>
          <td class="text-center"><strong>Title</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>9/3</td>
          <td><a href="category.html">Content</a></td>
        </tr>
        <tr>
          <td>9/3</td>
          <td><a href="category.html">Content</a></td>
        </tr>
        <tr>
          <td>8/29</td>
          <td><a href="category.html">Content</a></td>
        </tr>
        <tr>
          <td>8/29</td>
          <td><a href="category.html">Content</a></td>
        </tr>
      </tbody>
    </table>
  </li>
  <li  id="simpleContained1Tab">
    <table class="twelve">
      <thead>
        <tr>
          <td class="text-center"><strong>Votes</strong></td>
          <td class="text-center"><strong>Title</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>+14</td>
          <td><a href="category.html">Content</a></td>
        </tr>
        <tr>
          <td>+12</td>
          <td><a href="category.html">Content</a></td>
        </tr>
        <tr>
          <td>+4</td>
          <td><a href="category.html">Content</a></td>
        </tr>
        <tr>
          <td>+4</td>
          <td><a href="category.html">Content</a></td>
        </tr>
      </tbody>
    </table>
  </li>
</ul>