---
layout: default
title: index
---

{% include orbit.html %}

<div class="row" id="main">
<div class="column nine">

  <div class="row ">
    <h2>Featured</h2>
    {% include story/summary.html %}
    {% include story/summary.html %}
    {% include story/summary.html %}

    <a class="right archive-link" href="category.html">
      <strong >
        View archive
      </strong>
    </a>
    
    <hr>

    {% include story/share-cta.html %}
  
  </div>

</div>


{% include sidebar.html %}
</div>