/* line 3, ../../../../../scss/atriangle/base/layout.scss */
#main, #footer, .sidebarButtonSpan {
  padding-left: 2.2%;
  padding-right: 2.2%;
}

/* line 8, ../../../../../scss/atriangle/base/layout.scss */
#main {
  margin-top: 1em;
}
