body{
  // needs latest Compass, add '@import "compass"' to your scss
  background-color: #81afe0; // Old browsers
  @include filter-gradient(#81afe0, #e3f2fa, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top,  #81afe0 0%,#e3f2fa 100%));
  background-repeat: no-repeat;
}

.wrapper{
  background: white;
}

.wrap{
  background: white;
  box-shadow: 0px 10px 30px grey;
}