<div id="footer" class="footer column twelve">
  <div class="row">
    <div class="three column">
            <h4 style=""><small>Empowering Employees</small></h4>
            <ul class="">
              <li><a href="category.html">The 411 on...</a></li>
              <li><a href="category.html">Taking Advantage Of</a></li>
              <li><a href="category.html">Align My Goals</a></li>
              <li><a href="category.html">Educate and Train</a></li>
            </ul>
    </div>
    <div class="three column">
            <h4 ><small>Business Smarts</small></h4>
            <ul class="">
              <li><a href="category.html">Our Exciting Products & Technologies</a></li>
              <li><a href="category.html">Around the Company</a></li>
              <li><a href="category.html">Reaching our Customers</a></li>
              <li><a href="category.html">Did You Know?</a></li>
            </ul>
      
    </div>
    <div class="three column">
      <h4><small>
      Our Amazing People
      </small></h4>
      <ul class="">
        <li><a href="category.html">Hometown Heroes</a></li>
        <li><a href="category.html">Top Performers and Teams</a></li>
        <li><a href="category.html">Innovators</a></li>
        <li><a href="category.html">Awards and Recognition</a></li>
      </ul>
    </div>
    <div class="three column">
      <h4><small>Contact</small></h4>
      <ul>
        <li> <a href="contact.html">Submit Story</a> </li>
        <li> <a href="contact.html">Contact Editor</a> </li>
        <li> <a href="contact.html">Ask Question</a> </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="column centered text-center">
      <p style="text-align:center;"><a href="">© Cable Vision</a></p>
    </div>
  </div>
</div>