
    <h1 class="inline"><a href="#">{{ site.title }}</a></h1>

    <ul class="inline">
      <li class="inline">
        <a href="index.html">Home</a>
      </li>
      <li class="inline">
        <a href="category.html">Empowering Employees</a>
      </li>
      <li class="inline">
        <a href="category.html">Business Smarts</a>
      </li>
      <li class="inline">
        <a href="category.html">Our Amazing People</a>
      </li>
    </ul>

    <div class="right two tablet-full mobile-full"> 
      <div class="section row row-one">
        <div class="eight col">
          <input class="twelve">
        </div>
        <div class="four col">
          <button>
        </div>
      </div>
      
    </div>
