<div class="row">
  <div class="column"> 
    <a href="index.html">
      <h1>Cable Vision</h1>
    </a>
  </div>
</div>
<span class="show-on-phones">
  <p>
    <a href="" id="sidebarButton" class="twelve button">Main Menu</a>
  </p>
</span>
<span class="hide-on-phones">
<ul class="nav-bar top-bar hide-on-phones" id="mainNav">
  <li>
    <a class="main" href="index.html">Home</a>
  </li>
  <li class="has-flyout">
    <a href="#" class="main">Empowering Employees</a>
    <a href="#" class="flyout-toggle"><span></span></a>
    <div class="flyout small">
      <ul class="dropdown">
        <li><a href="category.html">The 411 on...</a></li>
        <li><a href="category.html">Taking Advantage Of</a></li>
        <li><a href="category.html">Align My Goals</a></li>
        <li><a href="category.html">Educate and Train</a></li>
      </ul>
    </div>
  </li>
  <li class="has-flyout">
    <a href="#" class="main">Business Smarts</a>
    <a href="#" class="flyout-toggle"><span></span></a>
    <div class="flyout small">
      <ul class="dropdown">
        <li><a href="category.html">Our Exciting Products & Technologies</a></li>
        <li><a href="category.html">Around the Company</a></li>
        <li><a href="category.html">Reaching our Customers</a></li>
        <li><a href="category.html">Did You Know?</a></li>
      </ul>
    </div>
  </li>
  <li class="has-flyout">
    <a href="#" class="main">Our Amazing People</a>
    <a href="#" class="flyout-toggle"><span></span></a>
    <div class="flyout small">
      <ul class="dropdown">
        <li><a href="category.html">Hometown Heroes</a></li>
        <li><a href="category.html">Top Performers and Teams</a></li>
        <li><a href="category.html">Innovators</a></li>
        <li><a href="category.html">Awards and Recognition</a></li>
      </ul>
    </div>
  </li>
  <li class="hide-on-tablets"><input type="search"></li>
</ul>
</span>


