<div id="featured">
  <img src="http://foundation.zurb.com/images/orbit-demo/demo1.jpg" class="twelve"/>
  <img src="http://foundation.zurb.com/images/orbit-demo/demo2.jpg" class="twelve"/>
  <img src="http://foundation.zurb.com/images/orbit-demo/demo3.jpg" class="twelve"/>
</div>
<div id="featuredBullets" class="row">
  <img class="column three mobile-one" src="http://fakeimg.pl/300x200" data-thumb="bullet.jpg" />
  <img class="column three mobile-one" src="http://fakeimg.pl/300x200" data-thumb="bullet.jpg" />
  <img class="column three mobile-one" src="http://fakeimg.pl/300x200" data-thumb="bullet.jpg" />
  <img class="column three mobile-one" src="http://fakeimg.pl/300x200" data-thumb="bullet.jpg" />
</div>