/* line 1, ../../../../../scss/atriangle/element/footer.scss */
.footer {
  padding-top: 1.5em;
  background: #1d1d1d;
}
/* line 4, ../../../../../scss/atriangle/element/footer.scss */
.footer h2 {
  color: white;
}
/* line 8, ../../../../../scss/atriangle/element/footer.scss */
.footer a {
  color: #959595;
}
